[submodule "Adafruit_Sensor"]
	path = Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "Adafruit_LSM303DLHC"]
	path = Adafruit_LSM303DLHC
	url = https://github.com/adafruit/Adafruit_LSM303DLHC.git
[submodule "Adafruit_L3GD20_U"]
	path = Adafruit_L3GD20_U
	url = https://github.com/adafruit/Adafruit_L3GD20_U.git
[submodule "Adafruit_9DOF"]
	path = Adafruit_9DOF
	url = https://github.com/adafruit/Adafruit_9DOF.git
[submodule "TinyGPS"]
	path = TinyGPS
	url = https://github.com/mikalhart/TinyGPS.git
[submodule "TinyGPSPlus"]
	path = TinyGPSPlus
	url = https://github.com/mikalhart/TinyGPSPlus.git
